.footer {
  grid-row-start: 2;
  grid-row-end: 3;

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    margin-left: 1em;
    padding: 1px 4px;

    &:hover {
      color: #000;
      transition: color 1s ease;
      background: #fff;
      border-radius: 4px;
    }
  }
}
