.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  @media (max-width: 425px) {
    flex-flow: column wrap;
    align-items: center;
    font-size: 1.1rem;
  }

  &__description {
    color: #fff;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    margin-left: 1em;
    padding: 1px 4px;

    &:hover {
      color: #000;
      transition: color 1s ease;
      background: #fff;
      border-radius: 4px;
    }
  }
}
