@import './mixins-and-utility.scss';

.info,
.stats,
.pwa {
  @include subpage;
}

.list {
  @include list;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__title {
    font-size: 1.6em;
    max-width: 45ch;
    line-height: 2em;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1.5px;
  }

  &__text {
    max-width: 60ch;
    text-align: justify;
    line-height: 36px;
    font-size: 1.2em;
  }
}

.pwa__img {
  border: 1px solid #fff;
  padding: 2em;
  transform: scale(0.8);
  box-shadow: 5px 6px 7px 3px #000;
  flex-shrink: 2;
  width: 100%;
}

.subpage-wrapper {
  @include subpage-wrapper;
}

.stats-wrapper {
  @include subpage-wrapper;
}

.accent {
  color: #df044e;
}
