@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

@keyframes water-fill {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }

  50% {
    opacity: 1;
    transform: scale(1, 1);
  }

  75% {
    opacity: 0.9;
    transform: scale(1, 0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes water-drain {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  50% {
    opacity: 0.4;
    transform: scale(1, 0.4);
  }

  75% {
    opacity: 0.9;
    transform: scale(1, 0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes water-drain-full {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: scale(1, 0);
  }
}

@keyframes rotate {
  from {
    transform: rotatey(0deg);
    opacity: 0.2;
  }

  to {
    transform: rotatey(-720deg);
    opacity: 1;
  }
}

@keyframes glass-appear {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes top-button-appear {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes bottom-button-appear {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100vw);
  }
}

@keyframes counter-appear {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    font-size: 36px;
    letter-spacing: 36px;
  }

  to {
    opacity: 1;
    font-size: 64px;
    letter-spacing: normal;
  }
}

html {
  background: #3767ad;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__header {
    color: #fff;
    opacity: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    margin: 64px 0;
    letter-spacing: 36px;
    text-shadow: 2px 3px 2px #0085ffdb;
    animation: fade-in 2s 1.5s ease-out forwards;
  }

  &__counter {
    position: absolute;
    font-weight: 500;
    font-size: 7em;
    margin: 0;
    animation: counter-appear 0.5s linear forwards;
    top: 300px;
    &--animated {
      animation: rotate 1s;
    }
  }

  &__button {
    font-size: 18px;
    width: 150px;
    padding: 4px 0;
    border: 3px outset #fff;
    border-bottom: 1px outset transparent;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.51);
    margin-top: 15px;
    position: relative;
    outline: none;

    &:nth-of-type(1) {
      left: -100vw;
      animation: top-button-appear 0.5s 0.7s linear forwards;
    }
    &:nth-of-type(2) {
      left: 100vw;
      animation: bottom-button-appear 0.5s 0.9s linear forwards;
    }
    &:active {
      box-shadow: none;
      border: 2px outset rgba(0, 0, 0, 0.74);
    }
    &:focus {
      color: green;
      font-weight: 900;
    }
  }
}

.glass {
  margin-bottom: 36px;
  animation: glass-appear 0.5s forwards;
  transform: translateX(-100vw);
}

.water {
  opacity: 1;

  transform-origin: center 100%;
  &--animated-fill {
    animation: water-fill 1.5s forwards;
  }

  &--animated-drain {
    animation: water-drain 1.5s forwards;
  }

  &--animated-drain-full {
    animation: water-drain-full 1.5s forwards;
  }
}
